.sidebar{
    background-color: var(--brandClr);
    width: 2rem;
    min-height: 100vh;
}
/* .sidebar:hover{
    width: 4.32rem;
} */


.sidebar > img{
    width: 1.5rem;
    height: 0.9rem;
    margin: 0.75rem 0rem 0.2rem 0.18rem ;
    object-fit: contain;
}
/* .sidebar:hover > img{
    width: 3.75rem;
    height: 1.52rem;
    margin: 0.75rem 0.28rem 1.11rem 0.28rem ;
} */



/* .sidebar:hover .sidebar__options{
    width: 100%;
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
    column-gap: 0.2rem;

} */

/* 
.sidebar:hover .sidebar__leads-text{
    width: 100%;
    height: 2.45rem;
    margin-bottom: 0.38rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 0.9rem;
    text-decoration: none;
} */

 .sidebar__leads-text{
    width: 100%;
    height: 2.45rem;
    margin-bottom: 0.18rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 0.6rem;
    text-decoration: none;
}

.sidebar__leads-text:hover{
    background-color: #AE4CBE;
}

.sidebar__leads-text > img{
    width: 0.8rem;
    height: 0.8rem;
    margin-bottom: 0.18rem;
}

/* .sidebar:hover .sidebar__leads-text > img{
    width: 1.22rem;
    height: 1.22rem;
    margin-bottom: 0.05rem;
} */


.sidebar__leads-text span{
    width: 100%;
    font-size: 0.27rem;
    color: #fff;
    font-weight: 500;
    line-height: 0.37rem;
}
/* .sidebar:hover .sidebar__leads-text span{
 width: 3.28rem;
 font-size: 0.27rem;
 color: #fff;
 font-weight: 500;
 line-height: 0.57rem;
} */
