button {
  cursor: pointer;
}

.login-page-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.applicant-container {
  width: 12rem;
  height: 12rem;
  background-color: #f0d0dd;
  font-size: 0.45rem;
  border-radius: 0.1rem;
}
.applicant-container__h2 {
  color: var(--brandClr);
  font-size: 1rem;
  text-align: center;
  padding-top: 0.65rem;
}
.applicant-container__Link,
.applicant-container__Link2 {
  text-decoration: none;
  font-weight: 600;
}
.applicant-container__Link {
  font-size: 0.5rem;
  position: relative;
  left: 5.5rem;
  bottom: 0.45rem;
}
.applicant-container__small {
  position: relative;
  font-size: 0.5rem;
  left: 0.55rem;
  bottom: 0.2rem;
}
.applicant-container__submit,
.RegisterPage-container__submit {
  width: 2.5rem !important;
  color: white;
  background-color: var(--brandClr);
  font-size: 0.6rem;
  cursor: pointer;
  padding: 0.01rem !important;
  position: relative;
  left: 2.75rem;
  bottom: 0.65rem;
  border: none;
  outline: none;
}

.applicant-container__h5 {
  font-weight: 600;
  font-size: 0.55rem;
  position: relative;
  bottom: 0.85rem;
  margin-left: 0.5rem;
}
.applicant-container form {
  margin-left: 1.5rem;
}
.applicant-container form input {
  margin: 0.5rem;
  padding: 0.4rem;
  width: 8rem;
  height: 1.15rem;
}
.applicant-container form label {
  font-size: 0.6rem;
  position: relative;
  top: 0.5rem;
  left: 0.5rem;
  font-weight: 600;
}

@media screen and (min-width: 768px) {
  .applicant-email-id,
  .applicant-password {
    font-size: 0.5rem;
  }
  .applicant-container {
    width: 8.5rem;
    height: 8.5rem;
    background-color: #f0d0dd;
    font-size: 0.45rem;
    border-radius: 0.1rem;
  }
  .applicant-container__h2 {
    color: var(--brandClr);
    font-size: 0.6rem;
    text-align: center;
    padding-top: 0.4rem;
  }
  .applicant-container__Link {
    text-decoration: none;
    font-weight: 600;
  }
  .applicant-container__Link {
    font-size: 0.35rem;
    position: relative;
    left: 3.5rem;
    bottom: 0.45rem;
  }
  .applicant-container__small {
    position: relative;
    left: 0.3rem;
    bottom: 0.2rem;
    font-size: 0.4rem;
  }
  .applicant-container__submit {
    width: 2rem !important;
    color: white;
    background-color: var(--brandClr);
    font-size: 0.4rem;
    cursor: pointer;
    padding: 0.01rem !important;
    position: relative;
    left: 1.5rem;
    bottom: 0.6rem;
  }
  .applicant-container__h5 {
    font-weight: 600;
    font-size: 0.4rem;
    position: relative;
    bottom: 0.5rem;
    margin-left: unset;
  }
  .applicant-container form {
    margin-left: 1.5rem;
  }
  .applicant-container form input {
    margin: 0.25rem;
    padding: 0.2rem;
    width: 5rem;
    height: 0.85rem;
  }
  .applicant-container form label {
    font-size: 0.4rem;
    position: relative;
    top: 0.3rem;
    left: 0.3rem;
    font-weight: 600;
  }
}
