*{
  font-family:sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


:root{
  --brandClr : #80288F;
}
html{
  font-size: 2.7vw;
}

.lead-app-main-container{
  display: flex;

}

.lead-app-main-container__sub-container{
  background-color: #fff;
  flex-grow: 1;
  padding: 0.38rem 0.38rem;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.lead-app-main-container > section{
  width: 100%;
}


